.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.button {
  width: 50%;
  box-sizing: border-box;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eeeeee;
}