.container {
  flex-grow: 1;
  height: 100%;
}

.icon {
  margin: 0 auto;
  width: 30px;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
}

.name {
  text-align: center;
  font-size: 14px;
  color: #111111;
}